/* .main {
    height: 100vh;
} */
.h4Header {
    color: #3F474D;
    font-size: 1.778rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
    line-height: 1.056;
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.title {
    margin: 0;
    display: block;
    font-family: 'one-wish', Garamond, cursive;
    font-style: normal;
    font-size: 2em;
    text-transform: lowercase;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(92,65,93);
    height: 30vh

}
.imageClean {
    max-width: 100%;
    height: inherit;
}
.title {
    /* padding-left: 12%; */
    color: white;
}
.boxContain {
    position: relative;
    text-align: center;
    color: white;
}
.textDiv {
    position: absolute;
    top: 8px;
    left: 16px;
  }